/* #header {
  height: 100px;
  padding: 70px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
} */
/*header -----------------------------------------------------------------------------------------------------*/
header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  display: block;
  height: 40px;
  font-size: 0px;
  color: transparent;
}
.logo {
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
}
header nav {
  width: 600px;
}
header nav > ul {
  display: flex;
}
header ul a {
  display: block;
  text-align: center;
  background: #fff;
  padding: 10px;
}

li.lv1 {
  position: relative;
  width: 25%;
}
li.lv1 > a {
  font-size: 18px;
  font-weight: 600;
}
ul.lv2 {
  position: absolute;
  width: 100%;
  z-index: 998;
  display: none;
}

li.lv1:hover > a {
  color: #fff;
  background: rgb(199, 101, 101);
}
ul.lv2 li:hover a {
  color: #fff;
  background: rgb(230, 152, 152);
}
