/* font */
 @import url('https://webfontworld.github.io/PyeongChang/PyeongChang.css');
/* font-family: 'PyeongChang'; */
@import url('https://webfontworld.github.io/Montserrat/Montserrat.css');
/* font-family: 'Montserrat'; */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PyeongChang';
 }

 body {
    width: 100%;
    height: 100vh;
 }
 body.img01 {background: #000 Url(../img/effect_bg01@2x-min.jpg) no-repeat center / cover;}
 body.img02 {background: #000 Url(../img/effect_bg02@2x-min.jpg) no-repeat center / cover;}
 body.img03 {background: #000 Url(../img/effect_bg03@2x-min.jpg) no-repeat center / cover;}
 body.img04 {background: #000 Url(../img/effect_bg04@2x-min.jpg) no-repeat center / cover;}
 body.img05 {background: #000 Url(../img/effect_bg05@2x-min.jpg) no-repeat center / cover;}
 body.img06 {background: #000 Url(../img/effect_bg06@2x-min.jpg) no-repeat center / cover;}
 body.img07 {background: #000 Url(../img/effect_bg07@2x-min.jpg) no-repeat center / cover;}
 body.img08 {background: #000 Url(../img/effect_bg08@2x-min.jpg) no-repeat center / cover;}
 body.img09 {background: #000 Url(../img/effect_bg09@2x-min.jpg) no-repeat center / cover;}
 body.img10 {background: #000 Url(../img/effect_bg10@2x-min.jpg) no-repeat center / cover;}
 body.bg1 {background: #000 Url(../img/effect_img01@2x-min.jpg) no-repeat center / cover;}
 body.bg2 {background: #000 Url(../img/effect_img02-min.jpg) no-repeat center / cover;}
 body.bg3 {background: #000 Url(../img/effect_img03-min.jpg) no-repeat center / cover;}
 body.bg4 {background: #000 Url(../img/effect_img04-min.jpg) no-repeat center / cover;}
 body.bg5 {background: #000 Url(../img/effect_img05-min.jpg) no-repeat center / cover;}
 body.bg6 {background: #000 Url(../img/effect_img06-min.jpg) no-repeat center / cover;}
 body::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.363);
    z-index: -1;
 }
 img {
    width: 100%;
    vertical-align: top;
 }
 a {
    color: #fff;
    text-decoration: none;
 }
/* scrollbar */
::-webkit-scrollbar-track {
    background-color: #282b2e;
}

::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #222;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover
{
    background-color: #444;
}

/* layout */
#header {
    z-index: 2000;
}
#main {
    position: relative;
    z-index: 1000;
}
#footer {
    position: relative;
    z-index: 3000;
}

/* header */
 #header {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    padding: 20px;
}
#header h1{
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: 300;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
}
#header p{
    margin-bottom: 10px;
}
#header li {
    display: inline-block;
    margin-right: 5px;
}
#header li a {
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}
#header li.active a {
    background-color: #fff;
    color: #13142e;
}

/* footer */
#footer {}
#footer .source {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 10px 30px;
    font-size: 14px;
}

/* modal__wrap */
.modal__wrap {}
.modal__btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.modal__btn:hover {
    background-color: #fff;
    color: #0c1929;
}
.modal__cont {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}
.modal__box {
    width: 80%;
    height: 70vh;
    border-radius: 0.5rem;
    box-shadow: 0 10px 20px -5px hsl(180deg 2% 10%);
    transform: scale(0);
}
.modal__box .title {
    padding-inline: 1rem;
    background-color: hsl(180 2% 10%);
    display: flex;
    align-items: center;
    color: #fff;
    height: 50px;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
.modal__box .title .dot {
    width: 15px;
    height: 15px;
    background-color: hsl(180 2% 50%);
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-left: 2rem;
}
.modal__box .title .dot::before {
    content: '';
    position: absolute;
    left: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: hsl(180 2% 50%);
    border-radius: 50%;
}
.modal__box .title .dot::after {
    content: '';
    position: absolute;
    right: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: hsl(180 2% 50%);
    border-radius: 50%;
}
.modal__box .title .plus {
    background: rgb(56, 56, 56);
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
}
.modal__box .title .tabs {
    display: flex;
    margin-left: 50px;
}
.modal__box .title .tabs > div {
    color: hsl(39 33% 66%);
    background-color: rgb(56, 56, 56);
    padding: 0.35rem 0.8rem 0.25rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    text-transform: uppercase;
    cursor: pointer;
}
.modal__box .title .tabs > div.active {
    background-color: rgb(37, 37, 37);
}
.modal__box .title .tabs > div em {
    font-style: normal;
}
.modal__box .title .tabs > div .favicon {
    margin-right: 0.4rem;
    margin-top: 0.2rem;
}
.modal__box .title .tabs > div .close {
    margin-left: 4rem;
}
.modal__box .cont {
    background-color: rgb(40, 43, 46);
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.modal__box .cont > div {
    display: none;
}
.modal__box .cont > div.active {
    display: block;
    height: 100%;
}
.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: rgb(40, 43, 46);
    padding: 1rem 1rem 0.8rem;
    border-radius: 5px;
    box-shadow: 0 5px 7px -5px hsl(180 2% 10%);
    cursor: pointer;
    transition: all 0.3s;
}
.modal__close:hover {
    background-color: #33377d;
}
.modal__close svg {
    color: #fff;
}

/* 모달 애니메이션 */
.modal__cont.show {
    animation: foldOut 1s ease forwards;
}
.modal__cont.show.hide {
    animation: foldIn 0.3s 0.5s ease backwards;
}
.modal__cont.show .modal__box {
    animation: zoomOut 0.5s 1s ease forwards;
    transform: scale(0);
}
.modal__cont.show.hide .modal__box {
    animation: zoomIn 0.5s ease forwards;
}
.modal__cont.show .modal__close {
    animation: clsShow 0.5s 1.5s ease forwards;
    transform: scale(0);
}
.modal__cont.show.hide .modal__close {
    animation: clsHide 0.5s ease forwards;
}

@keyframes foldOut {
    0%      {transform: scaleX(0) scaleY(0.003);}
    50%     {transform: scaleX(1) scaleY(0.003);}
    100%    {transform: scaleX(1) scaleY(1);}
}
@keyframes foldIn {
    0%      {transform: scaleX(1) scaleY(1);}
    50%     {transform: scaleX(1) scaleY(0.003);}
    100%    {transform: scaleX(0) scaleY(0.003);}
}
@keyframes zoomOut {
    0%      {transform: scale(0);}
    100%    {transform: scale(1);}
}
@keyframes zoomIn {
    0%      {transform: scale(1);}
    100%    {transform: scale(0);}
}
@keyframes clsShow {
    0%      {transform: scale(0);}
    100%    {transform: scale(1);}
}
@keyframes clsHide {
    0%      {transform: scale(1);}
    100%    {transform: scale(0);}
}

@media (max-width: 1100px){
    .modal__box .title {
        overflow: hidden;
    }
    .modal__box .title .dot {
        display: none;
    }
    .modal__box .title .tabs {
        margin-left: 0;
    }
    .modal__box .title .tabs > div .close {
        display: none;
    }
}
@media (max-width: 800px){
    #header {
        text-align: center;
    }
    #header h1 {
        line-height: 1.4;
    }
    .modal__box {
        width: 96%;
    }
}
/* 요소를 안보이게 하는 방법
    1. display: none; (애니메이션 X, 영역X)
    2. opacity: 0;  (애니메이션 O, 영역 O)
    3. visibility: hidden; (애니메이션 X, 영역X)
    4. transform: scale(0); (애니메이션 O, 영역X)
    5. width: 0; height: 0; (애니메이션 X, 영역X) : blind
*/