.footer__wrap {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.footer__logo {
    width: 150px;
    height: 50px;
}
.footer__info {
    box-sizing: border-box;
}
.footer__link {
    margin: 10px 0 30px;
}
.footer__link ul {
    text-align: right;
}
.footer__link ul li {
    display: inline;
    border-right: 1px solid #333;
}
.footer__link ul li a {
    color: #fff;
    padding: 24px;
    line-height: 1;
}
.footer__desc {
    color: #666;
    font-size: 14px;
    line-height: 2;
}